@model Business.Models.Proposta

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Proposta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Veiculo.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veiculo.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicioVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicioVigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFimVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFimVigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroEndosso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroEndosso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEmissaoApolice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEmissaoApolice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataBaixaProposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataBaixaProposta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroPropostaSeguradora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroPropostaSeguradora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroPrestacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroPrestacoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorPrestacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPrestacoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPrimeiroVencimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPrimeiroVencimento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
