@model Business.Models.Proposta

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Proposta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataInicioVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicioVigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFimVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFimVigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroEndosso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroEndosso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEmissaoApolice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEmissaoApolice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataBaixaProposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataBaixaProposta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroPropostaSeguradora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroPropostaSeguradora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroPrestacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroPrestacoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorPrestacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPrestacoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPrimeiroVencimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPrimeiroVencimento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
