@model IEnumerable<Business.Models.Proposta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Veiculo.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicioVigencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEmissaoApolice)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.DataPrimeiroVencimento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Veiculo.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicioVigencia)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.DataEmissaoApolice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPrimeiroVencimento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
