@model Business.Models.Apolice

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Apolice</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.SeguradoraId, "SeguradoraId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SeguradoraId", String.Empty)
                @Html.ValidationMessageFor(model => model.SeguradoraId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProdutoId, "ProdutoId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProdutoId", String.Empty)
                @Html.ValidationMessageFor(model => model.ProdutoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClienteId, "ClienteId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClienteId", String.Empty)
                @Html.ValidationMessageFor(model => model.ClienteId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Indicacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Indicacao)
                @Html.ValidationMessageFor(model => model.Indicacao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FilialId, "FilialId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FilialId", String.Empty)
                @Html.ValidationMessageFor(model => model.FilialId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SituacaoDaApolice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SituacaoDaApolice)
                @Html.ValidationMessageFor(model => model.SituacaoDaApolice)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
